section{ width: 1000px; margin: 0 auto; overflow: hidden;  border-right: 1px solid #596360; border-left: 1px solid #596360; }
.sTop{ width: 1000px; height: 280px; }
.sTop img{ width: 1000px; height: 280px; }


.sBottom{ width: 1000px; margin: 0 auto; overflow: hidden;  }
.conWrap{ width: 800px;  margin: 0 auto; overflow: hidden; box-sizing:border-box; padding-bottom: 150px; position:relative;}
.conWrap .invigator{position:absolute; top: 15px; right: 0px;}
.conWrap .invigator img {float:left; width:20px; height: 20px;}
.conWrap .invigator li{ float: left; padding-left: 7px; padding-top:6px;}
.conWrap .invigator li a{font-weight: bolder; font-size: 13px;}

.conWrap .title{text-align: center;  padding-top:35px; margin:10px 0px; margin-bottom:15px;}
.conWrap .content{ float:left; width:100%; height: 1200px; box-sizing:border-box;  padding:15px; border: 1px solid #596360; overflow: hidden; background-image:url(../images/sub/company_bg.png); }
