/* base */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{ margin: 0px; padding: 0px; font-family: 'Nanum Gothic', monospace; font-size: normal; color:#666666; }
li{ list-style: none; }
a{ text-decoration: none; } 
img{ border: none; }
table{ border-collapse:collapse; border-spacing: 0px; }
address{ font-style: normal; }
fieldset{ border: none; }
legend{ position: absolute; left: -999em; }
label.away{ position: absolute; left: -999em; }

.sTop img {width:100%; height:125px;}
.direction{width:100% height:28px; position:relative;}
.direction .invigator{width:100% height:25px;}
.invigator{position:absolute; top: 0px; right: 10px;}
.invigator img {float:left; width:20px; height: 20px; padding-top:5px;}
.invigator li{ float: left; padding-left: 7px; padding-top:6px;}
.invigator li a{font-weight: bolder; font-size: 13px; color: #596360;}

.sTop h2 a img{width:90px; height: 45px; margin-top:40px; margin-bottom:5px;};

.sBottom{width:100%; height:1000px;}
/*1개의탭*/
.feedTab01{width:100%; height: 300px; box-sizing: border-box;}
.tab01{width:100%; height:30px; border: 1px solid #C0C0C0;}
.tab01 li{float: left; width:100%; text-align:center; line-height:30px; box-sizing: border-box; border-right: 1px solid #C0C0C0;}
.tab01 li a{ display: block; width: 100%; height: 100%; font-size: 12px;font-weight: bolder;}
.tab01 li.on a{ background-color: #b7cdc7; color: #FFFFFF; }


.feedCon01 > div{ width:100%; height:270px; display: none; }


